{
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "only": ["**", "gulpfile.babel.js", "app.js"],
  "ignore": ["node_modules", "apidoc", "coverage", "logs"]
}
